body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
  margin: 0;              
  background-color: #f5f5f5; 
}

.button-container {
  text-align: center;
  align-items: center;
}



.styled {
    border: 0;
    
    text-align: center;
    color: #fff9f9;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(2, 255, 57);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  #resetButton{
    border: 0;
  
    text-align: center;
    color: #fff9f9;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 255, 13);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  #resetButton:hover{
    background-color: rgb(255, 255, 255);

  }
  #resetButton:active{
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  #button2{
    border: 0;
    
    text-align: center;
    color: #fff9f9;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(2, 255, 57);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  #button2:hover {
    background-color: rgb(255, 255, 255);
  }
  #button2:active{
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

